<!DOCTYPE html>
<html lang="en-US">
<head>
<meta charset="UTF-8">
<title>Alex Jaruczik</title>
<meta name="viewport" content="width=device-width">

<link href="/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
<link href="/@fortawesome/fontawesome-free/css/all.min.css" rel="stylesheet">
<!-- full-size monitor style sheet-->
<link href="/stylesheets/indexfull.css" rel="stylesheet" type="text/css" media="only screen and
(min-width:960px)">
<!-- tablet style sheet-->
<link href="/stylesheets/indextablet.css" rel="stylesheet" type="text/css" media="only screen
and (min-width:481px) and (max-width:960px)">
<!-- phone style sheet-->
<link href="/stylesheets/indexphone.css" rel="stylesheet" type="text/css" media="only screen
and (max-width:480px)">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>
    <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
    <%- include('partials/main_nav') %>
    <div id="wrapper">
        <div id="banner">
            <header><h1>Welcome to Alex Jaruczik's Portfolio</h1></header>
        </div>
        
    </div>
    <%- include('partials/footer') %>
</body>
</html>