<div id="footer">
    <footer>
            <p>© 2025 by <a href="mailto:alex.jaruczik@ontariotechu.ca"><i class="fa-solid fa-envelope"></i> Alex Jaruczik</a> <a href="https://github.com/alexjaruczik"><i class="fa-brands fa-github"></i> Github</a> <a href="https://www.linkedin.com/in/alex-jaruczik-6471b6205"><i class="fa-brands fa-linkedin"></i> LinkedIn</a></p>
    </footer>
</div>